html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: hidden;
}

header {
  display: flex;
  align-items: center;
  background-color: #595c5f;
  padding: 10px;
  width: 100%;
  height: 80px;
}

.Titulo {
  margin-right: 40px;
  margin-left: 50px;
}

.Titulo h1 {
  font-size: 30px;
  font-family: cursive;
}

.BarraPesquisa {
  margin: 0;

}

.barra {
  margin: 0;
  width: 400px;
}

.form-control {
  width: 250px;
  height: 17px;
  border-radius: 50px;
  border: none;
}

.form-control:focus {
  outline: none;
  border: 2px solid #b4b4b4;
}

.pagina {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.leftContent {
  grid-column: 1;
  width: 100%;
  margin: 50px;
  margin-top: 50px;

}

.leftContent>div {
  margin-bottom: 15px;
}

.user {
  display: flex;
}

.userPicture {
  font-size: 24px;
  background-color: #b6b6b9;
  width: 250px;
  height: 250px;
  display: inline;
  margin-right: 50px;
}

.userInfo {
  display: inline;
  width: 200px;
  margin-left: 20px;
}

.userInfo h1,
p {
  font-size: 15px;
  font-family: cursive;
}

.Editar {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  margin-top: 10px; 
}

.btnEditar, .btnSalvar, .btnCancelar {
  background-color: #b6b6b9;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.btnEditar:hover, .btnSalvar:hover, .btnCancelar:hover {
  background-color: #949494;
}

.btnSalvar {
  background-color: #4CAF50; 
}

.btnSalvar:hover {
  background-color: #45a049; 
}

.btnCancelar {
  background-color: #f44336; 
}

.btnCancelar:hover {
  background-color: #d32f2f; 
}

/* Hide save and cancel buttons by default */
.btnSalvar, .btnCancelar {
  display: none;
}

.btnFavoritar {
  background-color: #b6b6b9;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
}

.btnFavoritar:hover {
  background-color: #595c5f;
}

.rightContent {
  grid-column: 2;
  width: 100%;
  margin-right: 50px;
  margin-top: 50px;
}

.ultimosLocais {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ultimosLocais table {
  width: 80%;
  border-collapse: collapse;
}

.ultimosLocais th,
.ultimosLocais td {
  font-family: cursive;
  text-align: center;
  padding: 15px;
  width: 100%;
}

.ultimosLocais th {
  font-size: 24px;
  background-color: #595c5f;
}

.ultimosLocais td {
  font-size: 20px;
}

.ultimosLocais tr {
  height: 68px;
  background-color: #b6b6b9;
}

.rowImpar {
  background-color: #e6e6e6;
}

.rowPar {
  background-color: #e6e6e6
}


footer {
  background-color: #595c5f;
  width: 100%;
  height: 20px;
  position: fixed;
  bottom: 0;
}